[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# added for pylint on scripts/pg2sphinx_trigger.py import-error
psycopg2-binary = "~=2.9.10"

[dev-packages]
six = "*"
yapf = "*"
pylint = "*"
shellcheck-py = "*"

[requires]
python_version = "3.13"
